# Supabase
SUPABASE_URL=https://nnbcuztsvfjomsbxvxwu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5uYmN1enRzdmZqb21zYnh2eHd1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkwODI5NjgsImV4cCI6MjA4NDY1ODk2OH0.h7uRLq6h-kB2FF-tygWcahUXofdCSqGhx3nAnDjrgm4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5uYmN1enRzdmZqb21zYnh2eHd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTA4Mjk2OCwiZXhwIjoyMDg0NjU4OTY4fQ.o7HYmrzXImMsXKHZ7XcTeKSXk4aaYM94gakEhQ4f_sM
PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_QMTRZP_kIu91nxAqeVllnw_J-pyYoJG